@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-brand-dark bg-brand-bg font-sans;
  }
}

/* Custom large scrollbar for accessibility */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border: 4px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
